// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

/*ユーザー詳細画面*/
.user_info {
  margin-bottom: 50px;
  margin-left: 324px;
}

td{
	font-size: 18px;
	height: 40px;
}

tr{
	height: 40px;
}

.user_info::before, .user_info::after {
  content: "";
  display: inline-block;
  width: 90px;
  height: 1px;
  margin: 0 3rem;
  background-color: #333;
  vertical-align: middle;
}

/*ユーザー詳細画面table調整*/
.user_table {
  width: 40%;
  margin: 0 auto;
}
.user_table td {
	padding-top: 30px;
	font-size :15px;
	padding-left: 40px;
}
.user_table tr {
	border-bottom: 1px solid #AAAAAA;
	height: 55px;
}
.td_box {
  width: 200px;
}
/*ユーザー詳細画面ボタン調整*/
.btn_box {
  width: 61%;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
.btn_box .red-btn {
  width: 100px;
}
.btn_box .red-gray-btn {
  width: 100px;
  margin: 0 10px;
}
.leave .red-border-btn{
  width: 100px;
}
.leave_btn {
	margin-top: 100px;
	text-align: right;
}
.leave_btn a {
  width: 100px;
  color: red;
}
/*ユーザー編集画面FORM調整*/
.form_table{
	width: 43%;
	margin: 0 auto;
}
.form_table td{
	padding-top: 5px;
	padding-bottom: 15px;
}
.form_table tr td:nth-child(1){
	padding-top: 20px;
}
.form_table tr td:nth-child(2){
	padding-left: 20px;
	padding-top: 15px;
}
.form_table tr{
	border-bottom: 1px solid #c7c1c1;
	text-align: center;
}
/*ユーザー編集画面ボタン調整*/
.btn_box1 {
	width: 90%;
	margin : 0 auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 5px;
}
.btn_box1 .red-btn {
	width: 100px;
}
.btn_box2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.btn_box2 .red-gray-btn {
	width: 100px;
}

