<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="logo admin_logo">
        BIG APPLE Bolger admin
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="nav admin-nav">
            <ul>
              <% if admin_signed_in? %>
                <li>ユーザーメールアドレス：<%= current_admin.email %>　　</li>
                <% if request.path != admins_top_path %>
                  <li><%= link_to '　Home',admins_top_path %></li>
                  <li><%= link_to '　ユーザー一覧',admins_users_path %></li>
                <% end %>
                <li><%= link_to '　Sign out',destroy_admin_session_path, method: :delete %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>